<div class="containerHome">
    <h1>Bienvenido {{user.first_name}}</h1>
    <a class="logout-link" href="/">Inicio</a>
    <a class="logout-link" href="/products">Productos</a>
    <a class="logout-link" href="/chat">Contáctanos</a>
    <a class="logout-link" href="/uploadDocuments">Subir documentos</a>
    <a class="logout-link" href="/realTimeProducts">Subir productos</a>
    <a class="logout-link" href="/purcharser">Order</a>
    <a class="logout-link" href="/mockingproducts">Faker</a>
    <a class="logout-link" href="/api/docs" target="_blank" rel="noopener noreferrer">Desarrolladores</a>
    <form method="post" action="/api/users/logout">
        <button class="logout-link" type="submit">Cerrar Sesión</button>
    </form>
</div>
<hr>

<div class="box">
    <h1>Administrar Usuarios</h1>
    <button class="buttonad btnDeletead" onclick="deleteUsers()">Eliminar Usuarios Inactivos</button>
</div>
<br>
<div class="box">
    <table class="border">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Rol</th>
                <th>Acciones</th>
            </tr>
        </thead>

        {{#each users}}
        <tr>
            <td>{{this._id}}</td>
            <td>
                {{#if this.first_name}}
                {{this.first_name}}
                {{else}}
                {{this.username}}
                {{/if}}
            </td>
            <td>{{this.email}}</td>
            <td>{{this.role}}</td>
            <td>
                <button class="buttonad btnSuccesad" onclick="changeRole('{{this._id}}', 'premium')">Convertir a
                    Premium</button>
                <button class="buttonad btnUserad" onclick="changeRole('{{this._id}}', 'user')">Convertir a
                    Usuario</button>
                <button class="buttonad btnDeletead" onclick="deleteUser('{{this._id}}')">Eliminar Usuario</button>
            </td>
        </tr>
        {{/each}}

    </table>
</div>


<script src="/js/adm.js"></script>