<div class="containerHome">
    <a class="logout-link" href="/">Inicio</a>
    <a class="logout-link" href="/products">Productos</a>
    <a class="logout-link" href="/chat">Contáctanos</a>
    <a class="logout-link" href="/uploadDocuments">subir documentos</a>
    <a class="logout-link" href="/realTimeProducts">subir productos</a>
    <a class="logout-link" href="/admUsers">Gestión de roles</a>
    <a class="logout-link" href="/purcharser">Order</a>
    <a class="logout-link" href="/mockingproducts">Faker</a>
    <a class="logout-link" href="/api/docs" target="_blank" rel="noopener noreferrer">Desarrolladores</a>
    <a href="/carts/{{cart._id}}">
        <button class="successCart"> <i class="fas fa-shopping-cart"></i> Carrito</button></a>
    <form method="post" action="/api/users/logout">
        <button class="logout-link" type="submit">Cerrar Sesión</button>
    </form>
</div>
<hr>
<div>
    {{#each product}}
    {{#if this.description}}
    <div class="box">
        <div class="productsFaker">
            <h2 class="linea">{{this.title}}</h2>
            <p>Descripcion: {{this.description}}</p>
            <p>Categoria: {{this.category}}</p>
            <p>Cantidad en stock: {{this.stock}}</p>
            <img class="img1" src="/img/{{this.thumbnail}}" alt="{{../this.description}}">
            <p class="p">Precio: ${{this.price}}</p>
            <button class="success agregar" type="submit" data-productid="{{this._id}}" data-cartid="{{../user.cart}}"
                data-userid="{{../user._id}}" data-stock="{{this.stock}}">
                Agregar al carrito
            </button>
        </div>
    </div>
    {{/if}}
    {{/each}}
    <script src="/js/products.js"></script>