
<body>
    <h1>{{title}}</h1>

    <h2>Documentos subidos por {{user.name}}</h2>

    <ul>
        {{#each documents}}
        <li>
            <strong>Nombre:</strong> {{this.name}} <br>
            <strong>Referencia:</strong> <a href="/public/documents/{{this.reference}}">{{this.reference}}</a>
        </li>
        {{/each}}
    </ul>

    <a href="/uploadDocuments">Volver a subir documentos</a>
</body>
</html>
